
#title
{
	background-color: #ffe6d5;
}

#left-part
{
	background-color: #ffccaa;
}

#info {
    background-color: #ffccaa;
}

#popup {
    background-color: #ffccaa;
}

#inner-popup {
    background-color: #ffe6d5;
}